* { 
    font-family: Helvetica, Arial, Tahoma;
    font-size: 12px; 
    line-height: 25px; 
    padding: 0px; 
    margin: 0px; 
}

sup {
    font-size:80%;
}

input {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    font-size: 12px;
    font-weight:2;
    padding:1px;
    width:5.5em;
}

input.submit {
    border: 2px solid #000;
    font-weight:bold;
}

select {
    border: 1px solid #d4d4d4;
    background-color:#ffffff;
    margin: 0.2em;
    width:  5.5em;
}

body {
    /* MSIE 5 doesn't center based on auto left/right margins, 
        but 'text-align:center' does center top-level divs: */
    text-align: center;
    /* Specify a min-width for the body as wide as the 'wrapper'
        element itself. This prevents negative (i.e. inaccessible)
        left-margins in narrow browser windows when using 
        Navigator 6+/Mozilla on Win32: */
    min-width: 500px;
}

div#headerContainer {
    margin-bottom:10px;
    padding:0px;
    text-align:center;
}

div#mainmenu { 
    background-color:#1854d0;
    color:white;
}

div#submenu { 
    background-color:#707070;
    min-height:25px;
}

span.menuitem {
    border-color:black;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    padding-left: 5px;
    padding-right:5px;
}

span.lastmenuitem {
    border: 0px;
}

span.results {
    position:absolute;
    left:20px;
    font-weight:bold;
}

a.mainmenuitem {
    font-size:14px;
}

a:link { 
    color:white; 
    text-decoration:none; 
}
a:visited           { color:white; text-decoration:none; }
a:hover             { color:white; text-decoration:underline; }
a:active            { color:white; text-decoration:none;}

#content {
    /* Reset alignment to compensate for 'text-align:center': */
    text-align: left;
    /* Specify the width of the element. This should be the same
        as 'body min-width': */
    width: 500px;
    /* Set left and right margins to auto, thus centering the 
        element in the containing (body) tag: */
    margin-left: auto;
    margin-right: auto;
}

    
