    <!--The following p elements are the help topics for the qtips. 
    They are in the same order and have the same id as the row 
    element's name. Just replace the example text -->
	<div id="help">
		<div id="textHelp">
		<h2>Peptide Help</h2>
		<p id="aa" name = "This is help for peptides!">This is generic peptide help</p>
		<h2>Secondary Structure Help</h2>
		<p id="ss" name = "This is help for secondary structures!">This is generic secondary structure help</p>
		<h2>This is Residue Properties Help</h2>
		<p id="phi" name="Residue &#x03D5;">This is example help for phi</p>
		<p id="psi" name="Residue &#x03A8;">This is example help for psi</p>
		<p id="bm" 	name="Residue B<sup>m</sup>">This is example help for bm</p>
		<p id="bg" 	name="Residue B<sup>g</sup>">This is example help for bg</p>
		<p id="bs"	name="Residue B<sup>sc</sup>">This is example help for bs</p>
		<p id="ome"	name="Residue &#x03C9;">This is example help for ome</p>
		<h2>Angles Help</h2>
		<p id="a1"	name="Bond Angle C<sup>-1</sup>NC<sup>b</sup>"><img class="qtip-image" src="{{MEDIA_URL}}/images/help/angle_C-1_N_Ca.png"><br>This is a placeholder for a1's help text.</p>
		<p id="a2"	name="Bond Angle NC<sup>a</sup>C<sup>b</sup>"><img class="qtip-image" src="{{MEDIA_URL}}/images/help/pgd-property2.png"><br>This is a placeholder for a2's help text.</p>
		<p id="a3"	name="Bond Angle NC<sup>a</sup>">This is example help for a3</p>
		<p id="a4"	name="Bond Angle C<sup>b</sup>C<sup>a</sup>C">This is example help for a4</p>
		<p id="a5"	name="Bond Angle C<sup>a</sup>CO">This is example help for a5</p>
		<p id="a6"	name="Bond Angle C<sup>a</sup>CN<sup>+1</sup>">This is example help for a6</p>
		<p id="a7"	name="Bond Angle OCN<sup>+1</sup>">This is example help for a7</p>
		<h2>Lengths Help</h2>	
		<p id="L1"	name="Length C<sup>-1</sup>N">This is example help for L1</p>
		<p id="L2"	name="Length NC<sup>a</sup>">This is example help for L2</p>
		<p id="L3"	name="Length C<sup>a</sup>C<sup>b</sup>">This is example help for L3</p>
		<p id="L4"	name="Length C<sup>a</sup>C">This is example help for L4</p>
		<p id="L5"	name="Length CO">This is example help for L5</p>
	</div>

