{% extends "search_base.html" %}

    {% block head %}
        <style>
            tr.even{
                background-color:darkgray;
            }
            tr.odd {
                background-color:gray;
            }

            div.pagination {
                margin-top:10px;
            }
            a.pagination                   { color:blue; text-decoration:none; }
            a.pagination:link              { color:blue; text-decoration:none; }
            a.pagination:visited           { color:blue; text-decoration:none; }
            a.pagination:hover             { color:blue; text-decoration:underline; }
            a.pagination:active            { color:blue; text-decoration:none;}
        </style>
        <script type="text/javascript">
        function hideDescription(id){
            if(id==undefined){
                $('tr.hidden').hide();
            }
            else{
                $('tr#id_'+id).hide();
            }
        }

        
        $(document).ready(function() {
            hideDescription();

            $('div.showhide').click(function(event){
                if(event!=undefined){
                    var target = event.target.id;
                    var control = document.getElementById(target);

                    if(control.innerHTML=='[+]'){
                        control.innerHTML='[-]';
                    }
                    else{
                        control.innerHTML='[+]';
                    }
                    target=target.substring(target.length-1,target.length);
                    $('tr#id_'+target).toggle();
                }
                
                
              
            })
        })


        </script>
    {% endblock %}

    {% include search_base.html %}

    {% block content %}

        <div id="content">
            <table id="searches" border="0" rules="columns" cellspacing="0">
                <tbody>
                <tr>
                    <th width="200">Title</th>
                    <th width="10">ID</th>
                    <th width="100">Date Created</th>
                </tr>

                {% for search in searches.object_list %}
                    <tr class="{% cycle 'even''odd' %}">
                        <td><a href="{{SITE_ROOT}}search/edit/{{search.id}}">{{search.title}}</a><div class="showhide"id="header_{{search.id}}">[+]</div></td>
                        <td>{{search.id}}</td>
                        <td>{{search.timestamp}}</td>
                        
                    </tr>
                    <tr id="id_{{search.id}}" class="{% cycle 'even''odd' %} hidden"><td colspan="3">{{search.description}}</td></tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
        <div class="pagination">
                <span class="step-links">
                    {% if searches.has_previous %}
                        <a class="pagination" href="?page={{ searches.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ searches.number }} of {{ searches.paginator.num_pages }}.
                    </span>

                    {% if searches.has_next %}
                        <a class="pagination" href="?page={{ searches.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
    {% endblock %}

