{% extends "search_base.html" %}

    {% block head %}
        <style>
            table{
                border-color: black;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
            }

            th#spacer{
                width:10px;
            }
            th#delete{
                padding:6px;
                width:100px;
            }
            th#id_column{
                padding:6px;
                width:55px;
            }
            th#date_column{
                padding:6px;
                width:115px;
            }
            th#title_column{
                padding:6px;
                width:300px;
            }
            
            tr.even{
                background-color:#f0f7ff;
            }
            tr.odd {
                background-color:white;
            }
            
            div.pagination {
                margin-top:10px;
            }
            a.pagination                   { color:blue; text-decoration:none; }
            a.pagination:link              { color:blue; text-decoration:none; }
            a.pagination:visited           { color:blue; text-decoration:none; }
            a.pagination:hover             { color:blue; text-decoration:underline; }
            a.pagination:active            { color:blue; text-decoration:none;}

            div.showhide{
                width: 150px;
                float: right;
            }

            a.title_link
            {
                font-weight: bold; 
                color:black;
            }
            
            td.open{
                border-bottom-width: 0px;
            }
            
            td{
                padding:6px;
                border-bottom-style: solid;
                border-bottom-color: black;
                border-bottom-width: 1px;
            }
            td.search_id{
                border-left-style: solid;
                border-left-color: black;
                border-left-width: 1px;
                border-right-style: solid;
                border-right-color: black;
                border-right-width: 1px;
            }
            td.delete{
                border-left-style: solid;
                border-left-color: black;
                border-left-width: 1px;
            }
            p{
                margin: 6px;
                padding:6px;
                border-top-style: dotted; 
                border-top-color: black;
                border-top-width: 1px;   
            }
        </style>
        <script type="text/javascript">
        function hideDescription(id){
            if(id==undefined){
                $('tr.hidden').hide();
            }
            else{
                $('tr#id_'+id).hide();
            }
        }

        
        $(document).ready(function() {
            hideDescription();

            $('div.showhide').click(function(event){
                if(event!=undefined){
                    var target = event.target.id;
                    var targetParent = event.target.parentNode.parentNode.id;
                    var control = document.getElementById(target);

                    if(control.innerHTML=='→'){
                        control.innerHTML='↓';
                        $('#'+targetParent+' td').addClass('open');
                    }
                    else{
                        control.innerHTML='→';
                        $('#'+targetParent+' td').removeClass('open');
                    }
                    target=target.substring(target.length-1,target.length);
                    $('tr#id_'+target).toggle();
                }
            })

            $('td.delete').click(function(event){
                toBeDeleted=event.target.id;
                toBeDeleted=toBeDeleted.replace('delete_','');
                if(confirm("Are you sure you want to delete this search?")){
                   window.location="/search/deleteSearch/"+toBeDeleted;
                }
            })
        })


        </script>
    {% endblock %}

    {% include search_base.html %}

    {% block content %}

        <div id="content">
            <table id="searches" border="0" cellspacing="0">
                <tbody>
                <tr>
                    <th id="spacer"></th>
                    <th id="title_column">Title</th>
                    <th id="spacer"></th>
                    <th id="id_column">ID</th>
                    <th id="date_column">Date Created</th>
                    <th id="delete">Delete</th>
                    <th id="spacer"></th>
                </tr>
                {% for search in searches.object_list %}
                    <tr class="{% cycle 'even''odd' %}" id="row_{{forloop.counter}}">
                        <td></td>
                        <td><a class="title_link" href="{{SITE_ROOT}}search/edit/{{search.id}}">{{search.title}}</a></td>
                        <td><div class="showhide"id="header_{{search.id}}">→</div></td>
                        <td class="search_id">{{search.id}}</td>
                        <td>{{search.timestamp}}</td>
                        <td class="delete" id="delete_{{search.id}}">[X]</td>
                        <td></td>
                    </tr>
                    <tr id="id_{{search.id}}" class="{% cycle 'even''odd' %} hidden">
                    <td></td>
                    <td class='description bordered'colspan="2"><p>{{search.description}}</p></td>
                    <td class="search_id"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
        <div class="pagination">
                <span class="step-links">
                    {% if searches.has_previous %}
                        <a class="pagination" href="?page={{ searches.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ searches.number }} of {{ searches.paginator.num_pages }}.
                    </span>

                    {% if searches.has_next %}
                        <a class="pagination" href="?page={{ searches.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
    {% endblock %}

