<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <!--<link rel="stylesheet" href="http://dev.jquery.com/view/tags/ui/latest/themes/flora/flora.all.css" type="text/css" media="screen" title="Flora (Default)"-->
        <style>
            .label {
                padding-left:20px;
                padding-right:0px;
                font-weight:2;
                font-size:12px;
                width:50px;
                white-space : nowrap;
            }

            TR.spacer {
                height:20px;
            }

            TH {
                padding-left:30px;
            }

            TD.field {
                padding-left:2em;
                width:10em;
                text-align:left;
                white-space: nowrap;
            }

            TD.sectionheader {
                padding-left:5px;
                background-color:#a2ddff;
                font-weight:bold;
            }

            TD.submit {
                text-align:center;
            }

            #formContainer {
                margin-left:50px;
            }

            #residuesContainer {
                margin-top:20px;
            }

            input.field {
                margin:.2em;
                color:gray;
            }

            select#id_proteins {
                height:150;
            }

            .toggle {
                position: relative;
                top:.35em;
                float:left;
                width:15px;
                height:15px;
                background-repeat:repeat-x;
                border:0px;
            }

            .toggle_Include {
                opacity:1;
                background-image:url('http://doors.osuosl.org/media/plus2.png');
            }

            .toggle_Exclude {
                opacity:1;
                background-image:url('http://doors.osuosl.org/media/minus2.png');
            }

            select.field_include, input.field_include {
                color:black;
                background-color:#c2e192;
                border-color:black;
            }
            select.field_exclude, input.field_exclude {
                color:black;
                border-color:black;
                background-color:#ee9c98;
            }
            input.field_error {
                border: 1px solid #c60017;
                color:red;
            }

            div#errors {
                color:red;
                font-weight:bold;
                text-align:left;
                margin-left:25px;
                margin-bottom:30px;
            }

            ul.errors {
                color:red;
                margin-left:30px;
            }

            ul.errorlist {
                margin-left:45px;
                font-weight:normal;
                color:red;
            }


        </style>

        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.2.6.js"></script>

        <script type="text/javascript">

            n = Math.ceil({{maxLength}} / 2);
            iArray = new Array({{maxLength}}-1);
            for (i=0; i<n; i++) {
                iArray[i*2] = i+1;
                if (i*2+1 < {{maxLength}}-1){
                    iArray[i*2+1] = 0-i-1;
                }
            }

        function sizeChange(evt){
                oldValue = parseInt($('#oldLength').val());
                newValue = parseInt($('#id_residues').val());
                if (oldValue != newValue) {
                    //removing values
                    if (oldValue > newValue) {
                        for(i={{maxLength}}-1; i>=newValue; i--){
                            str = '.col_' + iArray[i-1]
                            //$(str).fadeOut(500);
                            $(str).fadeOut(500);
                            $(str + ' input.field').attr("disabled", true);
                        }
                    // adding values
                    } else {
                        for(i=0; i<=newValue; i++){
                            str = '.col_' + iArray[i-2]
                            $(str + ' input.field').attr("disabled", false);
                            $(str).fadeIn(500);
                        }
                    }
                    //update length
                    $('#oldLength').val(newValue);

                    //update size of table
                    if (newValue < 5){
                        val = 45;
                    } else {
                        val = 9*newValue+6
                    }

                    $('table#residues').css({'width':val+'em'});
                    $('table#protein').css({'width':600});
                }
            }

            function validateField(val) {
                // clean up field by removing whitespace and replacing OR synonyms with comma's
                var regExp = /\s+/g;
                val = val.replace(regExp,'')
                regExp = /(\|){2}|(or){1}/g
                val = val.replace(regExp,',')

                if (val == '')
                    return true;

                if (val.match(/^(-?([1-9]\d*|0)(\.\d+)?|(\.\d+))(-(-?([1-9]\d*|0)(\.\d+)?|(\.\d+)))?(,(-?([1-9]\d*|0)(\.\d+)?|(\.\d+))(-(-?([1-9]\d*|0)(\.\d+)?|(\.\d+)))?)*$/)) {
                    return true;
                }
                return false;
            }

            function updateInclusionField(node, syntax){
                val = $(node).val()

                // if field is not null check for syntax errors
                if (syntax) {
                    if (validateField(val)) {
                            $(node).removeClass('field_error');
                    } else {
                            $(node.parentNode).children(".toggle").removeClass('toggle_Include').removeClass('toggle_Exclude');
                            $(node).addClass('field_error').removeClass('field_exclude').removeClass('field_include')

                            // return immediately so only the error class is applied
                            return;
                    }
                }

                // set field style based on if the field has the default value
                if (isDefault(node, syntax)){
                    $(node.parentNode).children(".toggle").removeClass('toggle_Include').removeClass('toggle_Exclude');
                    $(node.parentNode).children(".include").val('').attr('disabled', true);
                    $(node).removeClass('field_exclude').removeClass('field_include')

                // non-default value, indicate if field is inclusion or exclusion filter
                }else{
                    val = $(node.parentNode).children(".include").val()
                    if (val == '') {
                        val = 1
                    }
                    if (val == 1 &&  !$(node).hasClass('field_include') ){
                        $(node.parentNode).children(".toggle").addClass('toggle_Include');
                        $(node.parentNode).children(".include").val(1).attr('disabled',false);
                        $(node).addClass('field_include').removeClass('field_exclude');
                    }else if (val == 0 && !$(node).hasClass('field_exclude') ) {
                        $(node.parentNode).children(".toggle").addClass('toggle_Exclude');
                        $(node.parentNode).children(".include").val(0).attr('disabled',false);
                        $(node).addClass('field_exclude').removeClass('toggle_Include');
                    }
                }
            };

            // extend function to jquery
            $.fn.updateInclusionField = function(){
                this.each(function(){
                    updateInclusionField(this, true);
                });
            };
            $.fn.updateInclusionSelect = function(){
                this.each(function(){
                    updateInclusionField(this, false);
                });
            };

            /*
            Determine if an element has the default value for that field type
            */
            function isDefault(element, field){
                val = $(element).val();
                // strip whitespace for input boxes
                if (field) {
                    val = val.replace(/\s+/g, '');
                    
                    if ($(element).is('[name^=bg],[name^=bm],[name^=bs]')) {
                        return val == '0-25' || val == ''
                    }
                    if ($(element).is('[name^=ome]')) {
                        return val == '-180--90,90-180' || val == ''
                    }
                    return val == '';
                }

                // select boxes just check for null
                return val == '' || val == null;
            }

            $(document).ready(function() {
                //$("#example").slider({change:sizeChange, min:1, max: {{maxLength}}, stepping:1});

                $('span.toggle').click(function(evt){
                    tar = $(evt.target);
                    if ( tar.hasClass('toggle_Include')) {
                        tar.removeClass('toggle_Include');
                        tar.addClass('toggle_Exclude');
                        $(evt.target.parentNode).children(".include").val(0);
                        $(evt.target.parentNode).children(".field").addClass('field_exclude').removeClass('field_include');
                    }else if (tar.hasClass('toggle_Exclude')){
                        tar.removeClass('toggle_Exclude');
                        tar.addClass('toggle_Include');
                        $(evt.target.parentNode).children(".include").val(1);
                        $(evt.target.parentNode).children(".field").addClass('field_include').removeClass('field_exclude');
                    }
                });

                $('input.field').keyup(function(evt){
                        updateInclusionField(evt.target, true);
                    });
                $('input.field').updateInclusionField();


                $('select.field').change(function(evt){
                        updateInclusionField(evt.target, false);
                    });
                $('select.field').updateInclusionSelect();

                $('#id_residues').change(sizeChange);

                //force update of segments
                $('#oldLength').val({{maxLength}});
                sizeChange(1);

                $('#peptide_header').click(function(evt){
                    $('tr.peptide_row').toggle();
                });
                $('#ss_header').click(function(evt){
                    $('tr.ss_row').toggle();
                });
                $('#residue_header').click(function(evt){
                    $('tr.residue_row').toggle();
                });
                $('#angles_header').click(function(evt){
                    $('tr.angles_row').toggle();
                });
                $('#lengths_header').click(function(evt){
                    $('tr.lengths_row').toggle();
                });
            });

        </script>
    </head>
    <body>

    {% include 'header.html' %}

    {% if form.errors %}
        <div id="errors">
        Please correct the following errors:
            <ul class="errors">
            {% for field, msg in form.errors.items %}
                <li class="error"><strong>{{ field|escape }}</strong>{{msg|escape}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div id="formContainer">
        <form name="search" method="POST" action="{{SITE_ROOT}}search/">
            <table id="protein">
            <tbody>
            <tr>
                <td class="label" rowspan="4">{{form.proteins.label}}</td>
                <td  rowspan="4">
                    <span class="toggle">&nbsp;</span>{{form.proteins}} {{form.proteins_i}}
                </td>
            </tr>
            <tr>
                <td class="label"> {{form.residues.label}}</td>
                <td>
                    {{form.residues}}
                    <input type="hidden" id="oldLength" value="5">
                </td>
            </tr>
            <tr>
                <td class="label">Resolution</td>
                <td>{{form.resolutionMin}} - {{form.resolutionMax}}</td>
            </tr>
            <tr>
                <td class="label">{{form.threshold.label}}</td>
                <td>{{form.threshold}}</td>
            </tr>

            </tbody>
            </table>

            <div id="residuesContainer">

            <table id="residues" >
            <tbody>
            <tr><td/>
            {% for i in iValues %}
                <th class="field col_{{i.0}}">{{i.1}}</th>
            {% endfor %}

            <tr><td colspan="100%" class="sectionheader" id="peptide_header">Peptide</td></tr>
            <tr class="peptide_row">
                <td class="label"></td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.aa}}{{r.aa_i}}
                    </td>
                {% endfor %}
            </tr>

            <tr class="spacer"/>
            <tr><td colspan="100%" class="sectionheader" id="ss_header">Secondary Structure</td></tr>
            <tr class="ss_row">
                <td class="label"></td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.ss}}{{r.ss_i}}
                    </td>
                {% endfor %}
            </tr>

            <tr class="spacer"/>
            <tr><td colspan="100%" class="sectionheader" id="residue_header">Residue Properties</td></tr>
            <tr class="residue_row">
                <td class="label">Phi</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.phi}}{{r.phi_i}}
                    </td>
                {% endfor %}
            </tr>
            <tr class="residue_row">
                <td class="label">Psi</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.psi}}{{r.psi_i}}
                    </td>
                {% endfor %}
            </tr>
            <tr class="residue_row">
                <td class="label">Bm</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.bm}}{{r.bm_i}}
                    </td>
                {% endfor %}
            </tr>
            <tr class="residue_row">
                <td class="label">Bg</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.bg}}{{r.bg_i}}
                    </td>
                {% endfor %}
            </tr>
            <tr class="residue_row">
                <td class="label">Bsc</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.bs}}{{r.bs_i}}
                    </td>
                {% endfor %}
            </tr>
            <tr class="residue_row">
                <td class="label">Omega</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.ome}}{{r.ome_i}}
                    </td>
                {% endfor %}
            </tr>

            <tr class="spacer"/>
            <tr><td colspan="100%" class="sectionheader" id="angles_header">Angles</td></tr>
                <tr class="angles_row">
                    <td class="label">Tao 1</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a1}}{{r.a1_i}}
                    </td>
                    {% endfor %}
                    </tr>
                <tr class="angles_row">
                    <td class="label">Tao 2</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a2}}{{r.a2_i}}
                    </td>
                    {% endfor %}
                    </tr>
                <tr class="angles_row">
                    <td class="label">Tao 3</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a3}}{{r.a3_i}}
                    </td>
                    {% endfor %}
                    </tr>
                <tr class="angles_row">
                    <td class="label">Tao 4</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a4}}{{r.a4_i}}
                    </td>
                    {% endfor %}
                </tr>
                <tr class="angles_row">
                    <td class="label">Tao 5</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a5}}{{r.a5_i}}
                    </td>
                    {% endfor %}
                </tr>
                <tr class="angles_row">
                    <td class="label">Tao 6</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a6}}{{r.a6_i}}
                    </td>
                    {% endfor %}
                </tr>
                <tr class="angles_row">
                    <td class="label">Tao 7</td>
                    {% for r in residueFields %}
                        <td class="field col_{{r.index}}">
                        <span class="toggle">&nbsp;</span>{{r.a7}}{{r.a7_i}}
                    </td>
                    {% endfor %}
                </tr>

            <tr class="spacer"/>
            <tr><td colspan="100%" class="sectionheader" id="lengths_header">Lengths</td></tr>
            <tr class="lengths_row">
                <td class="label">Length 1</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                    <span class="toggle">&nbsp;</span>{{r.L1}}{{r.L1_i}}
                </td>
                {% endfor %}
            </tr>
            <tr class="lengths_row">
                <td class="label">Length 2</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                    <span class="toggle">&nbsp;</span>{{r.L2}}{{r.L2_i}}
                </td>
                {% endfor %}
            </tr>
            <tr class="lengths_row">
                <td class="label">Length 3</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                    <span class="toggle">&nbsp;</span>{{r.L3}}{{r.L3_i}}
                </td>
                {% endfor %}
            </tr>
            <tr class="lengths_row">
                <td class="label">Length 4</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                    <span class="toggle">&nbsp;</span>{{r.L4}}{{r.L4_i}}
                </td>
                {% endfor %}
            </tr>
            <tr class="lengths_row">
                <td class="label">Length 5</td>
                {% for r in residueFields %}
                    <td class="field col_{{r.index}}">
                    <span class="toggle">&nbsp;</span>{{r.L5}}{{r.L5_i}}
                </td>
                {% endfor %}
            </tr>

            <tr class="spacer"/>
            <tr class="submit"><td class="submit" colspan="100%"><input class="submit" type="submit" value="Submit"></td></tr>
            </tbody>
            </table>
            </div>

        </form>
    </div>
    </body>
</html>

