#content {
    width:100%;
    text-align:left;
}

.qtip-image {
    padding: 10px;
}

.label {
    padding-left:20px;
    padding-right:0px;
    font-weight:2;
    font-size:12px;
    width:50px;
    white-space : nowrap;
}

TR.spacer {
    height:20px;
}

TH {
    padding-left:30px;
    text-align:center;
}

TD.field {
    padding-left:2em;
    text-align:left;
    white-space: nowrap;
}

#residues TD.field, TH.field {display:None;}
#residues TD.field.col_0, TH.field.col_0 {display:table-cell}

#protein td.field {padding-left:35px;}
#protein #pdb_codes td.field {padding-left:17px;}

input.field {
    width:6.0em;
}

select {
    width:5.8em;
    margin-left:0px;
}

input#id_proteins {
    margin-left:3px;
    width:40em;
}

TD.sectionheader {
    background-color:#a2ddff;
    font-weight:bold;
    padding-left:5px;
    width:500px;
}

TD.submit {
    text-align:center;
}

#formContainer {
    margin-left:50px;
}

#residuesContainer {
    margin-top:20px;
}

input.field, ul.multiselect {
    margin:.2em;
}

ul.multiselect {
    float:left;
    list-style:none;
    border: 1px solid #d4d4d4;
    width:6.0em;
}
ul.multiselect li {
    color:#b4b4b4;
    cursor:default;
    line-height:16px;
}

#aa_choices_list li {
    text-align:center;
}

#ss_choices_list li {
    padding-left:5px;
}

ul.multiselect li input {display:none;}

ul.multiselect.field_include, ul.multiselect.field_exclude {
    border: 1px solid black;
}

ul.multiselect.field_include li.selected {
    color:black;
    background-color:#c2e192;
}

ul.multiselect.field_exclude li.selected {
    color:black;
    background-color:#ee9c98;
}

.toggle {
    position: relative;
    top:.35em;
    float:left;
    width:15px;
    height:15px;
    background-repeat:repeat-x;
    border:0px;
}

input.field_include {
    background-color:#c2e192;
    border-color:black;
}
input.field_exclude {
    border-color:black;
    background-color:#ee9c98;
}
.field_error {
    border: 1px solid #c60017;
    color:red;
}

div#errors {
    color:red;
    font-weight:bold;
    text-align:left;
    margin-left:25px;
    margin-bottom:30px;
}

ul.errors {
    color:red;
    margin-left:30px;
}

ul.errorlist {
    margin-left:45px;
    font-weight:normal;
    color:red;
}

#help {
    display:none;
}

#outer {
border:2px solid #AAAAAA;
-moz-border-radius:5px;
width:185px;
}

#canvas {
    margin-left:auto;
    margin-right:auto;
    width:165px;
}
