    <!--The following p elements are the help topics for the qtips. 
    They are in the same order and have the same id as the row 
    element's name. Just replace the example text -->

{% load staticfiles %}

<div id="help">
         <div id="textHelp">
        <h2>Protein Help</h2>
        <p id="idproteins" name="Proteins To Include/Exclude">Search only these proteins, or exclude these proteins from the full data set</p>
        <p id="idresidues" name="Number Of Residues"><img class="qtip-image" src="{% static "images/help/segment.png" %}" width="380"/><br/>How many residues are in your search motif</p>
        <p id="idresolutionMin" name="Minimum Resolution">The best crystallographic resolution to allow</p>
        <p id="idresolutionMax" name="Maximum Resolution">The worst crystallographic resolution to allow</p>
        <p id="idthreshold" name="Threshold">No two chains can have more than this percentage sequence identity. Lower numbers are more restrictive.</p>
        <p id="idrfactorMin" name="R Factor Minimum">Minimum crystallographic R-factor</p>
        <p id="idrfactorMax" name="R Factor Maximum">Maximum crystallographic R-factor</p>
        <p id="idrfreeMin" name="R Free Minimum">Minimum crystallographic R-free</p>
        <p id="idrfreeMax" name="R Free Maximum">Maximum crystallographic R-free</p>
        <h2>Peptide Help</h2>
        <p id="aachoiceslistcol"  name = "Residue Types">Which amino acids are searched? The default is all of them. If you click the plus sign next to the field after highlighting residues, this will exclude them instead of include them.</p>
        <h2>Secondary Structure Help</h2>
        <p id="sschoiceslistcol"  name = "Secondary Structure Types">Which secondary-structure types are searched? The default is all of them.</p>
        <h2>This is Residue Properties Help</h2>
        <p id="phi" name="&Phi; Torsion Angle"><img class="qtip-image" src="{% static "images/help/phi.png" %}"><br></p>
        <p id="psi" name="&Psi; Torsion Angle"><img class="qtip-image" src="{% static "images/help/psi.png" %}"><br></p>
        <p id="bm"  name="B<sup>m</sup>">The average main-chain B-factor</p>
        <p id="bg"  name="B<sup>&gamma;</sup>">The B-factor of the &gamma;-carbon (which determines whether the &chi;1 sidechain dihedral angle is well-defined)</p>
        <p id="bs"  name="B<sup>sc</sup>">The average side-chain B-factor</p>
        <p id="ome" name="&omega; Torsion Angle"><img class="qtip-image" src="{% static "images/help/ome.png" %}"><br>&omega; defines the planarity of the peptide bond and generally stays close to 180° (for trans peptides) or 0° (for cis peptides)</p>
        <p id="omep" name="&omega;P Torsion Angle"></p>
        <h2>Angles Help</h2>
        <p id="a1"  name="C<sup>-1</sup>NC<sup>&beta;</sup>"><img class="qtip-image" src="{% static "images/help/angle_C-1_N_Ca.png" %}"><br></p>
        <p id="a2"  name="NC<sup>&alpha;</sup>C<sup>&beta;</sup>"><img class="qtip-image" src="{% static "images/help/angle_N_Ca_Cb.png" %}"><br></p>
        <p id="a3"  name="NC<sup>&alpha;</sup>"><img class="qtip-image" src="{% static "images/help/angle_N_Ca_C.png" %}"><br></p>
        <p id="a4"  name="C<sup>&beta;</sup>C<sup>&alpha;</sup>C"><img class="qtip-image" src="{% static "images/help/angle_Cb_Ca_C.png" %}"><br></p>
        <p id="a5"  name="C<sup>&alpha;</sup>CO"><img class="qtip-image" src="{% static "images/help/angle_Ca_C_O.png" %}"><br></p>
        <p id="a6"  name="C<sup>&alpha;</sup>CN<sup>+1</sup>"><img class="qtip-image" src="{% static "images/help/angle_Ca_C_N+1.png" %}"><br></p>
        <p id="a7"  name="OCN<sup>+1</sup>"><img class="qtip-image" src="{% static "images/help/angle_O_C_N+1.png" %}"><br></p>
        <h2>Chi Help</h2>
        <p id="chi1"  name="&chi;<sub>1</sub>">&chi;<sub>1</sub> properties vary depending on the residue. Visit the chi help page (link here) for more information. <br></p>
        <p id="chi2"  name="&chi;<sub>2</sub>">&chi;<sub>2</sub> properties vary depending on the residue. Visit the chi help page (link here) for more information. <br></p>
        <p id="chi3"  name="&chi;<sub>3</sub>">&chi;<sub>3</sub> properties vary depending on the residue. Visit the chi help page (link here) for more information. <br></p>
        <p id="chi4"  name="&chi;<sub>4</sub>">&chi;<sub>4</sub> properties vary depending on the residue. Visit the chi help page (link here) for more information. <br></p>
        <p id="chi5"  name="&chi;<sub>5</sub>">&chi;<sub>5</sub> properties vary depending on the residue. Visit the chi help page (link here) for more information. <br></p>
        <h2>Lengths Help</h2>
        <p id="L1"  name="C<sup>-1</sup>N"><img class="qtip-image" src="{% static "images/help/length_C-1_N.png" %}"><br></p>
        <p id="L2"  name="NC<sup>&alpha;</sup>"><img class="qtip-image" src="{% static "images/help/length_N-Ca.png" %}"><br></p>
        <p id="L3"  name="C<sup>&alpha;</sup>C<sup>&beta;</sup>"><img class="qtip-image" src="{% static "images/help/length_Ca_Cb.png" %}"><br></p>
        <p id="L4"  name="C<sup>&alpha;</sup>C"><img class="qtip-image" src="{% static "images/help/length_Ca_C.png" %}"><br></p>
        <p id="L5"  name="CO"><img class="qtip-image" src="{% static "images/help/length_C_O.png" %}"><br></p>
     </div>

