{% extends "search_base.html" %}

{% load staticfiles %}

    {% block head %}
        <style>

            div#content{
                width:1000px;
            }

            table{
                border-color: black;
                border-width: 1px 1px 0px 1px;
                border-style: solid;
            }

            th{
                border-bottom-style:solid;
                border-bottom-width: 1px;
                border-bottom-color:black;
                border-left-style:solid;
                border-left-width: 1px;
                border-left-color:black;
            }

            th#spacer{
                width:10px;
                border-width:0;
                border-bottom-width:1px;
            }
            th#edit_column{
                padding:6px;
                width:40px;
            }
            th#delete_column{
                padding:6px;
                width:40px;
            }
            th#id_column{
                padding:6px;
                width:55px;
            }
            th#date_column{
                padding:6px;
                width:340px;
            }
            th#title_column{
                padding:6px;
                width:600px;
                border-left-width: 0px;
            }
            th#shared_column{
                padding:6px;
                width:600px;
            }
            th.showhide{
                width:200px;
                border-left-width: 0px;
            }

            
            tr.even{
                background-color:#f0f7ff;
            }
            tr.odd {
                background-color:white;
            }
            
            div.pagination {
                margin-top:10px;
            }
            a.pagination                   { color:blue; text-decoration:none; }
            a.pagination:link              { color:blue; text-decoration:none; }
            a.pagination:visited           { color:blue; text-decoration:none; }
            a.pagination:hover             { color:blue; text-decoration:underline; }
            a.pagination:active            { color:blue; text-decoration:none;}

            a.title_link{
                font-weight: bold; 
                color:black;
            }
            a.shared_link{
                font-weight: bold; 
                color:black;
            }

            td{
                padding:6px;
                border-bottom-width:1px;
                border-bottom-style:solid;
                border-bottom-color:black;
                border-left-width:1px;
                border-left-style:solid;
                border-left-color:black;
            }

            td.showhide{
                padding:6px;
                border-left-width:0;
                text-align:center;
            }
            
            td.open{
                border-bottom-width: 0px;
            }
            td.description{
                width:300px;
                border-left-width:0px;
            }
            td.search_id{
            }

            td.edit{
                text-align:center;
            }
            td.delete{
                text-align:center;
            }

            td.spacer{
                border-width:0;
                border-bottom-width:1px;
            }
            
            td.title{
                border-left-width:0;
            }
            td.last{
                border-bottom-width:1px;
            }

            td.open{
                border-bottom-width: 0px;
            }
            
            p{
                margin: 6px;
                padding:6px;
            }

            .bottom-border{
                border-bottom-style:solid;
                border-bottom-width:1;
                border-bottom-color:black;
            }
        </style>
        <script type="text/javascript">
        function hideDescription(id){
            if(id==undefined){
                $('tr.hidden').hide();
            }
            else{
                $('tr#id_'+id).hide();
            }
        }

        
        $(document).ready(function() {
            hideDescription();

            $('td.showhide').click(function(event){
                if(event!=undefined){
                    var target = event.target.id;
                    var targetParent = event.target.parentNode.id;
                    var control = document.getElementById(target);

                    if(control.innerHTML=='[More]'){
                        control.innerHTML='[Less]';
                        $('#'+targetParent+' td.title').addClass('open');
                        $('#'+targetParent+' td.showhide').addClass('open');
                        $('#'+targetParent+' td.spacerLeft').addClass('open');
                    }
                    else{
                        control.innerHTML='[More]';
                        $('#'+targetParent+' td').removeClass('open');
                    }
                    target=target.replace('header_','');
                    $('tr#id_'+target).toggle();
                }
            })

            $('td.delete').click(function(event){
                 if(event.target.id!=undefined){
                    toBeDeleted=event.target.id;
                    toBeDeleted=toBeDeleted.replace('delete_','');
                    if(confirm("Are you sure you want to delete this search?")){
                        redirect = "{{ROOT}}/search/"+toBeDeleted+"/delete/";
                        window.location.href = redirect;
                    }
                }
            })
            
            $('td.edit').click(function(event){
                if(event.target.id!=undefined){
                    toBeEdited=event.target.id;
                    toBeEdited=toBeEdited.replace('edit_','');
                    if(confirm("Are you sure you want to edit this search?")){
                        redirect = "{{ROOT}}/search/"+toBeEdited+"/save/";
                        window.location.href = redirect;
                    }
                }
            })
        })
        
        </script>
    {% endblock %}

    {% include search_base.html %}

    {% block content %}

        <div id="content">
            <table id="searches" border="0" cellspacing="0">
                <tbody>
                <tr>
                    <th id="spacer"></th>
                    <th id="title_column">Title</th>
                    <th class="showhide"></th>
                    <th id="id_column">ID</th>
                    <th id="date_column">Date Created</th>
                    <th id="shared_column">Publically Viewable</th>
                    <th id="edit_column">Edit</th>
                    <th id="delete_column">Delete</th>
                    <th id="spacer"></th>
                </tr>
                {% for search in searches.object_list %}
                    <tr class="{% cycle 'even' 'odd' %}" id="row_{{forloop.counter}}">
                        <td class="spacer spacerLeft {% if forloop.last %} last {% endif %}" ></td>
                        <td class="title{% if forloop.last %} lastll {% endif %}"><a class="title_link" href="{{ROOT}}/search/{{search.id}}/">{{search.title}}</a></td>
                        <td class="showhide"id="header_{{search.id}}">[More]</td>
                        <td class="search_id">{{search.id}}</td>
                        <td class="timestamp">{{search.timestamp|date:"D, M d, Y"}}</td>
                        <td>{% if search.isPublic %} Yes: <a class="shared_link" href="{{ROOT}}/search/{{ search.id }}/view/">Link to Search</a>{% else %} No {% endif %}</td>
                        <td class="edit" id="edit_{{search.id}}"><img id="edit_{{search.id}}" src="{% static "images/edit.png" %}"</></td>
                        <td class="delete" id="delete_{{search.id}}"><img id="delete_{{search.id}}" src="{% static "images/delete.png" %}"</></td>
                        <td class="spacer {% if forloop.last %} last {% endif %}"></td>
                    </tr>
                    <tr id="id_{{search.id}}" class="{% cycle 'even' 'odd' %} hidden">
                    <td class="spacer{% if forloop.last %} last {% endif %}"></td>
                    <td class="description bordered"colspan="7"><p>{{search.description}}</p></td>
                    <td class="spacer{% if forloop.last %} last {% endif %}"></td>
                    </tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
        <div class="pagination">
                <span class="step-links">
                    {% if searches.has_previous %}
                        <a class="pagination" href="?page={{ searches.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ searches.number }} of {{ searches.paginator.num_pages }}.
                    </span>

                    {% if searches.has_next %}
                        <a class="pagination" href="?page={{ searches.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
    {% endblock %}

