{% extends "base.html" %}
{% block head %}
<style>
    input#id_username{
        width:300px;
        float:left;
    }
    input#id_password{
        width:300px;
        float:left;
    }
    div#content{
        width:400px;
        margin-left:auto;
        margin-right:auto;
    }
    div#login{
        width:100px;
        margin-left:auto;
        margin-right:auto;
    }
</style>
{% endblock %}
{% block content %}
<form method="post" action=".">
    <table>
        <tr>
            {{ form.as_table }} 
        </tr>
    </table>
  <div id="login"><input  type="submit" value="Log in" /></div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Forgot your Password?<strong><a style="color:black;"href="{% url auth_password_reset %}">...Reset It</a></strong></p>
<p>Not Registered?<strong><a style="color:black;" href="{% url registration_register %}">...Register</a></strong></p>
{% endblock %}
