{% extends "base.html" %}

{% block title %}Protein Geometry Database - News{%endblock%}

{% block head %}
    <style>
        #content {
            margin:40px;
        }
        
        li {
            margin-bottom:20px;
        }
        
        ul {
            margin-left:30px;
        }
        
        ul ul li {margin-bottom:0;}
    </style>
{% endblock %}

{% block content %}

<h1> News </h1>

<ul>
  <li>
    <b>Version 1.0.2: released 2013 Oct 07</b>
    <ul>
      <li>Fix corrupt selection file generation (#15141)</li>
    </ul>
    <b>Version 1.0.1: released 2013 Aug 19</b>
    <ul>
      <li>Use population standard deviation instead of sample when generating plots (#14613)</li>
    </ul>
    <b>Version 1.0.0: released 2013 Aug 15</b>
    <ul>
      <li>Sidechain lengths and angles are now reset when amino acids are deselected (#13623)</li>
      <li>Standard deviations are now calculated correctly on the search statistics page (#12459)</li>
    </ul>
  </li>
  <li>
    <b>Database: updated 2013 Oct 08</b>
    <ul>
      <li>23719 Proteins</li>
      <li>715 New</li>
      <li>70 Removed</li>
    </ul>
  </li>
  <li>
    <b>Database: updated 2013 Jul 01</b>
    <ul>
      <li>23074 proteins</li>
      <li>24959 chains</li>
      <li>5985607 residues</li>
    </ul>
  </li>
</ul>
{% endblock %}

