{% extends "base.html" %}

{% block header %}<title> References </title>{% endblock %}

{% block content %}

<h3> Citing this resource: </h3>
<p><a href="{{SITE_ROOT}}/static/pdf/Berkholz-PGD-2010.pdf">
Berkholz, D.S., Krenesky, P.B., Davidson, J.R., & Karplus, P.A. (2010) Protein Geometry Database: a 
flexible engine to explore backbone conformations and their relationships to covalent geometry. 
<em>Nucleic Acids Research</em>, <b>38</b>, Database issue, D320-D325.</a></p>
 
<h3> Selecting the protein chains in the PGD database: </h3>
<p><a href="http://bioinformatics.oxfordjournals.org/cgi/pmidlookup?view=long&pmid=12912846"> Wang,G. and Dunbrack,R.L. (2003) PISCES: a protein sequence
culling server. <em>Bioinformatics</em>, <b>19</b>, 1589-1591.</a></p>

<h3> Classifying residues by secondary structure: </h3>
<p> <a href="http://www3.interscience.wiley.com/journal/107587714/abstract?CRETRY=1&SRETRY=0"> Kabsch, W. and Sander, C. (1983).  Dictionary of protein secondary structure: Pattern
recognition of hydrogen-bonded and geometrical features. <em>Biopolymers</em>,  
 22, 2577-2637. </a></p>

<h3> Publications which used the PGD: </h3>

<p> (If you have used the PGD in a published work, please e-mail the citation to 
<a href="mailto:tronrudd@science.oregonstate.edu">Dale Tronrud</a> so it can be included here.</p>

<p> 
<a href="http://www.reference-global.com/doi/pdfplusdirect/10.1515/BMC.2010.022">
Hollingsworth, S.A. & Karplus, P. A. (2010). 
Review: A fresh look at the Ramachandran plot and the occurrence of standard structures in proteins. 
<em>BioMolecular Concepts</em>, <b>1</b>, 271-283.</a>
</p><p> 
<a href="http://journals.iucr.org/d/issues/2010/07/00/dz5202/">
Tronrud, D.E., Berkholz, D.S., & Karplus, P.A. (2010).
 Using a conformationally-dependent stereochemical library improves crystallographic refinement of proteins. 
<em>Acta Cryst</em>, <b>D66</b>, 834-842.</a>
</p><p>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/19836327">Dauter, Z. & Wlodaw
er, A. (2009). Proteins do not have strong spines after all. <em>Structure</em>, 
<b>17</b>, 1278-1279.</a>
</p><p>
<a href="{{SITE_ROOT}}/static/pdf/2009_berkholz.pdf">Berkholz, D.S., Shapovalov, M.V., Dunbrack,
R.L.J. & Karplus, P.A. (2009). Conformation dependence of backbone geometry in proteins.
<em>Structure</em>, <b>17</b>, 1316-1325.</a>
</p><p>
<a href="{{SITE_ROOT}}/static/pdf/Hollingsworth-etal_2009.pdf">Hollingsworth, S.A., Berkholz,
D.S. & Karplus, P.A. (2009). On the occurrence of linear groups in proteins.
<em>Protein Science</em>, <b>18</b>, 1321-1325</a>
</p><p>
<a href="{{SITE_ROOT}}/static/pdf/Karplus_2008_letter.pdf">Karplus, P.A., Shapovalov, M.V., Dumgrack, R.A., & Berkholz, D.S. (2008).
A forward-looking suggestion for resolving the stereochemical restraints debate: ideal geometry functions.
<em> Acta Cryst.</em>, D<b>64</b>, 335-336.</a></p>


{% endblock %}

