<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8"?>

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
    <title>{%block title%} Protein Geometry Database {%endblock%}</title>
    <head>
        <script type="text/javascript" src="{% static "js/jquery-1.4.1.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
        
        {% if GOOGLE_ID %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{GOOGLE_ID}}']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
<body>
    <div id="headerContainer">
         <div id="mainmenu">
              {% if session.search %}
                   <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/search/">New Search</a></span>
              {% else %}
                   <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/search/">Search</a></span>
              {% endif %}
              {% if user.is_authenticated %}
                   <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/saved">Saved Searches</a></span>
                   <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/accounts/logout">Logout</a></span>
                   <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/accounts/password/change"> Change Password </a> </span>
                   <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/accounts/profile-edit"> Edit Profile </a> </span>
              {% else %}
                   <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/accounts/login">Login</a></span>
                   <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/accounts/register">Register</a></span>
              {% endif %}
              <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/">Home Page</a></span>
              <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/news">News</a></span>
              <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/references">References</a></span>
              <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/contactus">Contact Us</a></span>
              <span class="menuitem "><a class="mainmenuitem lastmenuitem" href="{{SITE_ROOT}}/search/help/">Help</a></span>
                  <div style="position:absolute; top:0px; right:150px; width:200px;">
                    <form method="GET" action="{% url 'user-search' %}">
                      <input type="text" name="q" placeholder="Search Users" />
                    </form>
                  </div> 

              
              <span id="version"> <strong>PGD </strong>{{PGD_VERSION}} </span>
         </div>
         <div id="submenu">
             <div id="submenu_items">
                  {% if session.search %}
                       <span class="results">Results: {{count}}</span>
                       <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/edit">Edit Search</a></span>
                       <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/plot/svg/">Plot</a></span>
                       <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/statistics/">Statistics</a></span>
                       <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/dump/">Data Dump</a></span>
                       <span class="menuitem {% if not user.is_authenticated %} lastmenuitem {% endif %}"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/browse/">Browse Results</a></span>
                       {% if user.is_authenticated %}
                            <span class="menuitem lastmenuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/search/save">Save Search</a></span>
                       {% endif %}
                       <span id="version">
                            <strong>PISCES </strong>{{DATA_VERSION}} {{DATA_PERCENT}}
                       </span>
                  {% endif %}
             </div>
         </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
