{% extends "base.html" %}

{% block head %} <title> Contact Us! </title> {% endblock %}

{% block content %}
<h1 >
  Contact Us!
</h1>
<p> Questions, bug reports and other comments can be sent to <a href="mailto:tronrudd@science.oregonstate.edu">Dale Tronrud</a>.
</p>

<p>  The Protein Geometry Database is developed and maintained by the P. Andrew Karplus lab
at Oregon State University in Corvallis Oregon with principal coding by the <a href="http://osuosl.org/">Open Source Laboratory</a>. </p>

{% endblock %}

